.background    { background: rgb(50, 200, 185);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255, 0, 0); }
.wall          { background: yellow;   }
.floater       { background: rgb(255, 153, 0); }

.game {
  position: relative;
}
